@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply w-full h-full m-0 p-0;
    @apply font-sans;
}

.ghost {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 50px 100px 1fr;
    gap: 5px;
    grid-template-areas:
    "icon name"
    "evidence evidence"
    "info info";
    overflow: auto;
    padding: 0.5rem;
    height: 100%;

    margin: 5px;

    border: 1px solid #333;
    border-radius: .5rem;
}

.ghost i.fa-solid {
    font-size: 45px;
    margin: 0.5rem;
    text-align: center;
}

.ghost h2 {
    grid-area: name;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 2.3rem;
    text-align: center;
    line-height: 50px;
}

.ghost .evidences {
    grid-area: evidence;
    margin: 0;
    padding: 15px;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 105px;
}

.ghost .evidences .evidence {
    width: 50px;
    height: 50px;
    cursor: initial;
    margin-right: 15px;
    background: transparent;
}

.ghost .evidences .evidence i {
    font-size: 25px;
    margin: 0;
    line-height: 35px;
}

.ghost .info {
    grid-area: info;
    margin: 0;
    font-weight: bold;

    padding: 0 15px 15px 15px;
}

.ghost .info table td {
    padding: 5px 5px 5px 0;
}

.ghost .info table td:last-child {
    font-weight: initial;
}

.ghost .evidence {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    padding: 0.5rem;

    text-align: center;
    border: 1px solid #333;
    border-radius: 0.5rem;
    background-color: #333;
    height: 150px;
    aspect-ratio: 1/1;

    cursor: pointer;
}

.ghost .evidence:hover {
    background-color: #444;
}

.evidence.disabled,
.evidence[disabled]{
    opacity: 0.5;
    cursor: not-allowed;
}